.bg{
  min-height: 100vh ;
  background-image: url("../public/assets/25499.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.heading{
  text-align: center;
  color:rgb(41, 139, 139);
  font-size: 40px;
}
.form{
  background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
}

.btn{
  margin-left: 30px !important ;
  margin-top: 10px !important ;
}
.textCenter{
  text-align: center;
}